[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "3rdparty/glad"]
	path = 3rdparty/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "3rdparty/freetype2"]
	path = 3rdparty/freetype2
	url = https://github.com/freetype/freetype2.git
	branch = master
[submodule "ImCoolBar"]
	path = ImCoolBar
	url = https://github.com/aiekick/ImCoolBar.git
[submodule "3rdparty/implot"]
	path = 3rdparty/implot
	url = https://github.com/epezent/implot.git
	branch = master
